* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html {
}
.header {
    background-color: beige;
    width: 100%;
    
    font-size: 35px;
  }

.row {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;

}

.column {
    display: flex;
    border: 1px solid black;

}
.project {
    width: 300px;
    height: 300px
}
img {
    width: 100%;
}
.footer {
    
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) {
  /* Styles */
  html {
    background-color: blue;
  }
  #bigHeader {
    position: relative;
    text-align: center;
    top: -200px;
    
    /* transform: translate(0, -250%); */
  }
  header {
    border: 2px solid red;
  }
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) {
  /* Styles */
  html {
    background-color: green;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
  html {
    background-color: red;
  }
}