* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html {
    background-color: beige;
}
.header {
    grid-area: header;
    background-color: beige;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right'
    'footer footer footer footer footer footer';
}
.left, .middle, .right {
    padding: 10px;
    height: 300px;
}
.left {
    grid-area: left;
}
.middle {
    grid-area: middle;
} 
.right {
    grid-area: right;
}
.footer {
    grid-area: footer;
}
/* When screen size smaller, changes grid layout to stack top to bottom instead */
@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
}
